<!-- <p>recipedetail works!</p>
<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" srcset="">

    </div>
    <div class="row">
        <div class="col">
            recipe name
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                 manage recipe
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <li><a class="dropdown-item" href="#">to shopping list</a></li>
                  <li><a class="dropdown-item" href="#">edit recipe</a></li>
                </ul>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            description
        </div>
    </div>
    <div class="row">
        <div class="col">
            ingredient
        </div>
    </div>
</div> -->
<div class="row">
    <div class="col-xs-12">
      <img [src]="RecipeBind.imagePath" alt="" class="img-responsive" style="max-height: 200px;">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{RecipeBind.name}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <div class="btn-group" appDropDownDirective>
            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
             manage recipe
            </button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <li><a class="dropdown-item" (click)="onAddToShoppingList()" style="cursor: pointer;">to shopping list</a></li>
              <li><a class="dropdown-item" href="#">edit recipe</a></li>
            </ul>
          </div>
    </div>
</div>
  <div class="row">
    <div class="col-xs-12">
      {{RecipeBind.description}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
     <ul>
       <li *ngFor="let ingredient of RecipeBind.Ingredients">
         {{ingredient.name}} --- {{ingredient.amount}}

       </li>
     </ul>
    </div>
  </div>
  
